body {
  background-image: url("/assets/img/clouds.png");
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* background-size: cover; */
}
.card .n_comment {
  border-radius: 1.2rem;
  background-color: #e9ebee;
  border: 1px solid rgba(100, 100, 100, 0.1);
}
.n_button_delete {
  cursor: pointer;
}
.n_dropdown {
  cursor: pointer;
}
.trashed {
  opacity: 0.4;
  transition: all 0.5s;
}
.trashed:hover {
  opacity: 1;
}
